.banner {
    position: relative;
    background-color: #e79527ff;
    text-align: center;
    box-shadow: 0 4px 7px rgb(0, 0, 0, 0.25);
    overflow: hidden; /* Para conter elementos posicionados absolutamente */
}

.banner-content {
    position: absolute;
    top: 0;
    left: 4rem;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Alinha verticalmente */
    align-items: flex-start;  /* ou 'center' para alinhar ao centro */
  }
  
  
.banner h1, .banner h2 {
    color: white;
    text-shadow: 0 4px 7px rgb(0, 0, 0, 0.25);
    margin: 0;
    text-align: center; /* ou left se preferir */
}

.banner h1 {
    font-size: 3.5rem;
    margin-bottom: 15px; /* Espaço entre h1 e h2 */
}

.banner h2 {
    font-size: 2.5rem;
}

.banner img {
    max-width: 100%;
}
